Original_Zip_Backups/
Extracted_Zips/
*.zip
*.rar
*.class
__MACOSX/
.DS_Store
*.mp4
New/
New folder/
New folder (2)/
old_3301/
*.dmg
*.pages
*.jp2
Assignment_3/data/
Assignment_3/group1/
Assignment_3/group2/
Assignment_3/group3/
Assignment_3/group4/
bin/
