Original_Zip_Backups/
Extracted_Zips/
*.zip
*.rar
*.class
__MACOSX/
.DS_Store
*.mp4
New/
New folder/
New folder (2)/
old_3301/
*.dmg
*.pages
*.jp2
Assignment_3/data/
Assignment_3/group1/
Assignment_3/group2/
Assignment_3/group3/
Assignment_3/group4/
bin/
CSCI4535_AI_NLP_Projects/data - Google Drive.html 
CSCI4535_AI_NLP_Projects/data - Google Drive_files/ 
CSCI4535_AI_NLP_Projects/*.zip 
CSCI4535_AI_NLP_Projects/**/*.zip 
CSCI4535_AI_NLP_Projects/**/*.download 
CSCI4535_AI_NLP_Projects/**/*.webp 
CSCI4535_AI_NLP_Projects/**/.ipynb_checkpoints/ 
CSCI4535_AI_NLP_Projects/**/__pycache__/ 
CSCI4535_AI_NLP_Projects/Final project/Suicide_Detection.csv/ 
Older_Java_Data_Structures_Projects/**/*.zip 
Older_Java_Data_Structures_Projects/**/*.rar 
Older_Java_Data_Structures_Projects/**/*.jar 
Older_Java_Data_Structures_Projects/**/*.class 
Older_Java_Data_Structures_Projects/**/foldername/ 
Older_Java_Data_Structures_Projects/**/doc/ 
Older_Java_Data_Structures_Projects/**/DOCS/ 
Older_Java_Data_Structures_Projects/**/__MACOSX/ 
Older_Java_Data_Structures_Projects/**/*.pptx 
Older_Java_Data_Structures_Projects/**/*.ser 
Terraform_Discord_Bot/.terraform/ 
Terraform_Discord_Bot/*.zip 
Terraform_Discord_Bot/*.msi 
Terraform_Discord_Bot/*key* 
Terraform_Discord_Bot/*.pem 
Terraform_Discord_Bot/terraform.tfstate 
Terraform_Discord_Bot/terraform.tfstate.backup 
